img {
    height: 30rem;
    width: 30rem;
    margin: 1.5rem 0;
}

@media (min-width:360px) and (max-width :660px) {
    img {
        width: 20rem;
        height: 20rem;
        margin: 0;
        margin-left: 2rem;
    }

    div {
        max-width: 27rem;
    }
}